* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e5e5e5;
}
header {  
    background-color: #129799;
}
ul {
    list-style: none;
}
.lista {
    display: flex;
    justify-content: space-evenly;
    color: #f7f7f7;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.list {
    margin-top: 1rem;  
}
h1 {
    font-weight: 700;
    color: #f7f7f7;
    font-size: 2.5rem; 
    margin-top: 9.5rem;
    font-family: 'Roboto', sans-serif;
}
.batida {
display: flex;
justify-content: center;
font-family: 'Roboto', sans-serif;
}
main {
    background-color: #ffa185;
}
.aquarela {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #f7f7f7;
    font-size: 2rem;
    padding-top: 3rem;
    padding-left: 2rem;
}
.texto {
    font-family: 'Roboto', sans-serif;
    padding-left: 2rem;
    padding-top: 1.5rem;
    font-size: 20px;
}
.fotos1 {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.fotos2 {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}
.mais {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
footer {
    background-color: #129799;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.redes {
    display: flex;
}
.redessociais {
    width: 4vw;
   margin-left: 2rem;
   position: relative;
   right: 8rem;
}
.menuFooter {
width: 30vw;
}
.final {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #f7f7f7;
    font-size: 1.5rem;
    justify-content: space-around;
}